.main {
  height: 100vh;
}

.title {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 10px 0;
}

.title h3 {
  font-weight: bolder;
  font-size: 3rem;
}

.title h3 a {
  text-decoration: none;
}

.moreGenre {
  background-color: #000000;
  
}

.more-genre {
  margin-top: 100px;
  color: white;
  display: flex;
  justify-content: center;
}

.loading {
  color: white;
}

.movie-card-genre img {
  width: 100%;
}

.info-card-genre {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  padding-right: 40px;
  position: absolute;
  bottom: -200px;
  background-color: transparent;
  transition: 0.3s;
  transition-timing-function: ease-out;
}

.movie-card-genre:hover .info-card-genre {
  height: 100%;
  bottom: 0px;
  background: rgb(2,0,36);
  background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(0,0,241,0) 0%, rgba(0,0,0,1) 73%);
}

.loading {
  background-color: rgba(0, 0, 0, 0.637);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: orange;
}

