.singleMovie {
  color: rgb(255, 255, 255);
  min-height: 100%;
  background-size: cover;
}

.bgimg-sp {
  height: 100vh;
  background-size: cover;
}

.main_container-sp {
  backdrop-filter: blur(5px);
  background: rgb(0,0,0);
  background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(219,32,44,0) 59%);
  height: 100%;
}

.info-sp {
  background-color: rgba(0, 0, 0, 0.452);
  color: rgb(255, 255, 255);
  border-radius: 5px;
  padding: 25px;
  min-height: 50%;
}


.title {
  display: flex;
  justify-content: center;
  width: 100%;
}

.titlemovie-sp {
  font-size: 4rem;
}

.rating-icons {
  pointer-events: none;
}

.moreOfGenre-sp {
  margin-top: 30px;
}
