.e404 {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.e404 h6 {
  font-size: 10rem;
  color: red;
  filter: drop-shadow(0px 100px 7px rgba(119, 1, 1, 0.452));

}

.e404 p{
    color: red;
}
