.movie-card {
    margin: 0 5px;
    position: relative;
    overflow: hidden;
    color: white;
  }
  
  .movie-card img {
    width: 100%;
  }
  
  .info-card {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    padding-right: 40px;
    position: absolute;
    bottom: -300px;
    background-color: transparent;
    transition: 0.2s;
    transition-timing-function: ease-out;
  }
  
  .movie-card:hover .info-card {
    height: 100%;
    bottom: 0px;
    background: rgb(2,0,36);
    background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(0,0,241,0) 0%, rgba(0,0,0,1) 73%);
  }