.hackflix {
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-finder {
  border-bottom: 1px solid #db202c67;
}

.divmodal {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
}


.bg-trasparent {
  background-color: transparent !important;
}

.black-modal {
  background-color: black;
  padding: 40px;
  border-radius: 5px;
  color: white;
  box-shadow: 0px 0px 15px #db202c80 ;
}

.selectModal {
  width: 97%;
}

.titleModal {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.titleModal .lupa {
  margin-left: 10px;
  height: 30px;
  width: 30px;
}

.logo-modal {
  height: 50px;
}

label {
  margin-top: 20px;
}

.vote_average {
  /* display: flex; */
  margin: 10px 0;
}

.vote_average p {
  font-size: 1.5rem;
  margin: 0;
  padding: 0 5px;
}

.btng {
  margin: 0 10px;
}

.btngNumber {
  font-size: 0.8rem;
}

.btn-find {
  margin-top: 20px;
  /* color: white; */
  border-color: white;
  font-weight: 700;
}

.btn-search {
  display: flex;
  justify-content: center;
}

.btn-find {
  font-size: 1.2rem;
}

.date {
  display: flex;
  flex-direction: column;
  /* width: 10%; */
}

.date input{
  width: 70px;
  margin-left: 10px;
}

.btn-search-movie {
  background-color: #DB202C;
  border-radius: 5px;
  border: #DB202C;
  color: white;
  padding: 8px;
}

.btn-search-movie:hover {
  background-color: #af151f;
  border: none;
}






