@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.App {
  background-color: black;
  font-family: 'Roboto', sans-serif;
}

.color-main {
  color: #DB202C !important;
}
.bg-color-main {
  background-color: #DB202C !important;
}

.rating {
  color: white;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: rgb(255, 115, 0) #000000;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 16px;
}

*::-webkit-scrollbar-track {
  background: #000000;
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(255, 115, 0);
  border-radius: 10px;
  border: 3px solid #000000;
}

.custom-range::-webkit-slider-thumb {
  background: red !important;
}

.custom-range::-moz-range-thumb {
  background: red !important;
}

.custom-range::-ms-thumb {
  background: red !important;
}